<div class="bg-dark">
    <div class="modal-header">
        <h3 class="modal-title fs-5" id="exampleModalLabel">{{ object.name }} Information</h3>
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <div class="modal-body">
        <table class="table table-sm table-primary table-bordered">
            <tr>
                <th>Name</th>
                <td>{{ object.name }}</td>
            </tr>
            <tr>
                <th>Date of Birth</th>
                <td>{{ object.dateofbirth }}</td>
            </tr>
        </table>
    </div>
</div>